.subtitulo {
    margin: 1%;
    margin-bottom: 0%;
}

.input {
    margin: 1%;
}

.back {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: green;
    align-items: center;
    padding: 3rem;
}